body 
{
	background: #444444;
}

#header
{
	width:100%;
	border-bottom: 15px ridge yellow;
}

#footer
{
	width: 100%;
	border-top: 15px ridge yellow;
}

#contentContainer
{
	width: 95%;
	margin: 10px auto;
}

.titleLink
{
	font-size: 18pt;
	color: yellow;
	display: block;
	float: left;
	text-decoration: none;
}

.clear
{
	clear: both;
}