html{
	height: 100%;
}

body {
	background-color: hsl(0, 0%, 28%);
	font-size: 14pt;
	color: white;
	height: 100%;
	width: 100%;
}

header{
	display: block;
	margin: 5px auto;
	width:100%;
	height: auto;
}

nav{
	text-align: center;
	width: 100%;
	height: 60px;
}

nav ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

nav ul li{
	display: inline;
}

footer{
	width: 100%;
}

#contentContainer{
	width: 85%;
	margin: 60px auto;
	padding: 10px;
}

.logo{
	display: block;
	background: url(../Images/PELogoSprite.png) no-repeat;
	width: 200px;
	height: 200px;
	text-indent: -9999px;
	margin: 5px auto 10px auto;
}

.logo:hover{
	background-position: 0 -200px;
}

.tagLine{
	font-size: 18pt;
	color: hsl(224, 72%, 17%);
	margin: 5px auto;
	text-align: center;
}

/* Navigation styles */
.navListItem{
	display: inline-block;
	width: auto;
	height: auto;
	margin: 0px 5px;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	padding: 0px 10px;
	font-size: 14pt;
	color: hsl(224, 72%, 17%);
	background: hsl(0, 0%, 38%);
	border: 1px solid;
	border-color: hsl(0, 0%, 38%);
	border-radius: 5px;
}

.navListItem:visited{
	color: hsl(224, 72%, 17%);
}

.navListItem:hover{
	color: hsl(224, 72%, 50%);
	background: hsl(0, 0%, 18%);
}

.banner{
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 150px;
	width: auto;
}

.centerContainer{
	text-align: center;
	margin: 10px auto;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}


/* Photos Page styles */

#slideshow{
	display: block;
	margin: 5px auto;
	padding: 0;
	border: 2px inset white;
}

.controls{
	display: block;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}