body 
{
	background-color: hsl(0, 0%, 18%);
	font-size: 14pt;
	color: white;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 50px;
	background-color: hsl(0, 0%, 80%);
}

footer
{
	width: 100%;
}

#contentContainer
{
	width: 95%;
	margin: 60px auto;
	padding: 10px;
}
.logo
{
	display: block;
	float: left;
	background: url(../Images/PELogoSprite2.png) no-repeat;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	border-right: 3px solid hsl(224, 72%, 17%);
	margin-left: 5px;
}

.logo:hover{
	background-position: 0 -50px;
}

.tagLine
{
	float: left;
	font-size: 18pt;
	color: hsl(224, 72%, 17%);
	line-height: 60px;
	margin: 0 50px 0 20px;
}

/* Navigation styles */
.navListItem
{
	float: left;
	width: auto;
	height: 100%;
	margin: 0px 10px;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	padding: 0px 10px;
	font-size: 14pt;
	color: hsl(224, 72%, 17%);
	z-index: 10;
}

.navListItem:visited
{
	color: hsl(224, 72%, 17%);
}

.navListItem:hover
{
	color: hsl(224, 72%, 50%);
	background: hsl(0, 0%, 18%);
}

.banner{
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 150px;
	width: auto;
}

.centerContainer{
	text-align: center;
	margin: 10px auto;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}
