html{
	
}

body {
	background-color: hsl(0, 0%, 80%);
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14pt;
}

header{
	box-sizing: border-box;
	display: block;
	margin: 5px auto;
	width: 80%;
	height: auto;
	background-color: hsl(0, 99%, 14%);
	padding-bottom: 10px;
}

nav{
	text-align: center;
	width: 100%;
	height: 60px;
}

nav ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

nav ul li{
	display: inline;
}

footer{
	width: 100%;
}

#contentContainer{
	box-sizing: border-box;
	width: 80%;
	margin: 30px auto;
	padding: 15px;
	background-color: hsl(0, 99%, 14%);
	color: hsl(0, 0%, 90%);
}

.logoTag{
	margin: 5px auto;
	padding: 0;
	width: 600px;
	display: table;
}

.logoRightBox{
	float:left;
	text-align: center;
	margin: 5px auto 10px auto;
	height: 200px;
	position: relative;
	width: 300px;
}

.logo{
	display: block;
	float: left;
	background: url(../Images/newLogo.png) no-repeat;
	width: 300px;
	height: 200px;
	text-indent: -9999px;
	margin: 5px auto 10px auto;
}

.logo:hover{
	background-position: 0 0px;
}

.tagLine{
	font-size: 16pt;
	color: hsl(0, 0%, 90%);
	text-align: center;
	margin: 5px auto;
	position: absolute;
	top: 50%;
}

/* Navigation styles */
.navListItem{
	display: inline-block;
	min-width: 125px;
	height: auto;
	margin: 0px 5px;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	padding: 0px 10px;
	font-size: 14pt;
	color: hsl(0, 99%, 14%);
	background: hsl(0, 0%, 90%);
	border: 1px solid;
	border-color: hsl(0, 0%, 90%);
	border-radius: 5px;
}

.navListItem:visited{
	color: hsl(0, 99%, 14%);
}

.navListItem:hover{
	font-style: italic;
	border-color: hsl(0, 99%, 14%);
}

.banner{
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 150px;
	width: auto;
}

.centerContainer{
	text-align: center;
	margin: 10px auto;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}


/* Photos Page styles */

#slideshow{
	display: block;
	margin: 5px auto;
	padding: 0;
	border: 2px inset white;
	width: 800px;
	height: auto;
}

menu {
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 50px;
  width: 800px;
  background-color: hsl(0, 0%, 90%);
}

.playBtn{
	position: relative;
	background-color: transparent;
	border: none;
	width: auto;
}

.playBtn:focus{
	outline: 0;
}

.play{
	background-color: transparent;
	padding: 0;
	margin: 0 2px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 20px 0 20px 34.6px;
	border-color: transparent transparent transparent gray;
}

.play:hover{
	border-color: transparent transparent transparent hsl(0, 99%, 14%);
}

.pause1{
	border: 5px 10px hsl(0, 99%, 14%);
}

.rw{
	position: relative;
	top: 35%;
	background-color: transparent;
	border: none;
	height: 40px;
	width: auto;
}

.rw:focus{
	outline: 0;
}

.ff{
	position: relative;
	top: 35%;
	background-color: transparent;
	border: none;
	height: 40px;
	width: auto;
}

.ff:focus{
	outline: 0;
}

.forward1{
	background-color: transparent;
	padding: 0;
	margin: 2px;
	float: left;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 17.3px;
	border-color: transparent transparent transparent gray;
}

.ff:hover .forward1, .ff:hover .forward2{
	border-color: transparent transparent transparent hsl(0, 99%, 14%);
}

.forward2{
	background-color: transparent;
	padding: 0;
	margin: 2px;
	float: right;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 0 10px 17.3px;
	border-color: transparent transparent transparent gray;
}

.rev1{
	background-color: transparent;
	padding: 0;
	margin: 2px;
	float: left;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 17.3px 10px 0;
	border-color: transparent gray transparent transparent;
}

.rw:hover .rev1, .rw:hover .rev2{
	border-color: transparent hsl(0, 99%, 14%) transparent transparent;
}

.rev2{
	background-color: transparent;
	padding: 0;
	margin: 2px;
	float: right;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 10px 17.3px 10px 0;
	border-color: transparent gray transparent transparent;
}

/* About Page styles */

.aboutMain{
	display: block;
	margin: 10px auto;
}

.triplePhotoBox{
	width: 100%;
	margin: 10px auto 0 auto;
	text-align: center;
}

.aboutListItem{
	display: inline-block;
	width: 250px;
	height: 250px;
	margin: 0 0;
	text-decoration: none;
	color: #49A9BC;
	z-index: 10;
	text-indent: -9999px;
	background-position: 0 0;
}

.selected{
	width: 250px;
	height: 250px;
}

.personBox{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.pName{
	box-sizing: border-box;
	font-size: 16pt;
	display: inline-block;
	width: 250px;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: hsl(0, 99%, 14%);
	border: 1px solid hsl(0, 0%, 90%);
	border-radius: 5px 5px 0 0;
	border-bottom: none;
	
	color: hsl(0, 0%, 90%);
}

.backFrontColorSwap{
	color: hsl(0, 99%, 14%);
	background-color: hsl(0, 0%, 90%); 
}

.HP{
	background: url(../Images/hp3IconBlue.png) no-repeat;
}

.AP{
	background: url(../Images/hp3IconGreen.png) no-repeat;
}

.EP{
	background: url(../Images/hp3IconOrange.png) no-repeat;
}

.descriptionBox{
	box-sizing: border-box;
	width: 760px;
	padding: 10px;
	margin: 0 auto 10px auto;
	background-color: hsl(0, 0%, 90%);
	border-radius: 0 0 5px 5px;
	display: none;
	color: black;
}

.centeredList{
	margin: 0 auto;
	text-align: center;
}

.centeredList li{
	display: inline;
}

/* Contact Page Styles */

.emailSection{
	box-sizing: border-box;
	display: inline-block;
	padding: 5px;	
	color: hsl(0, 0%, 90%);
}

.frmField{
	background-color: hsl(0, 0%, 90%);
	border: 2px solid hsl(0, 99%, 14%);
	border-radius: 5px;
	padding-left: 5px;
}

.frmField:focus{
	outline: 0;
	border-color: hsl(0, 0%, 90%);
}

.frmBtns{
	box-sizing: border-box;
	min-width: 85px;
	font-size: 14pt;
	color: hsl(0, 99%, 14%);
	background: hsl(0, 0%, 90%);
	border: 1px solid;
	border-color: hsl(0, 0%, 90%);
	border-radius: 5px;
	padding: 10px 10px;
}

.frmBtns:hover{	
	border-color: hsl(0, 99%, 14%);
	font-style: italic;
}

.notification{
	font-size: 14pt;
	font-style: italic;
	background: hsl(0, 0%, 90%);
}

.waiting{
	color: white;
}

.good{
	color: green;
}

.bad{
	color: red;
}
